.multible-choice{
    border: 1px solid orange;
    border-radius: 1px;
    padding: auto;
}

body {
    border:2px solid black;
    padding: 20px;
    padding-left: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}
.nameItem {
    
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: lightgrey;
}
.name , .number {
    font-weight: bold;
}
.number {
    float: right;
}